<!DOCTYPE html>
<html>
<head>
<center>
	<font color="white" size="5" style="font-family: avenir">
		<body style="background-color:rgb(147, 6, 1);">
			<title>Wel.ai</title>
			<br><br>
			<h1 style="color: azure;">Email Generation Successful</h1><br>

			<div style="border: 1px solid rgb(255, 255, 255); width: 950px;; height:auto; padding: 30px;">
				<h4>{{ content }}</h4>
			</div>

			<h5 style="color: azure;">Following Data has been added to the database!</h5><br>

		</body>
	</font>
</center>
</head>
<body>

</body>
</html>
